-- Backfill coverage_start/coverage_end for existing contracts (optional)
UPDATE contracts
SET coverage_start = COALESCE(coverage_start, created_at),
    coverage_end = COALESCE(coverage_end, created_at + INTERVAL ''1 year'')
WHERE coverage_start IS NULL OR coverage_end IS NULL;
