-- Add missing contract columns used by PDF endpoint (idempotent)
ALTER TABLE contracts
  ADD COLUMN IF NOT EXISTS coverage_start TIMESTAMPTZ,
  ADD COLUMN IF NOT EXISTS coverage_end TIMESTAMPTZ,
  ADD COLUMN IF NOT EXISTS coverage_description TEXT,
  ADD COLUMN IF NOT EXISTS coverage_limit TEXT,
  ADD COLUMN IF NOT EXISTS deductible TEXT,
  ADD COLUMN IF NOT EXISTS premium TEXT,
  ADD COLUMN IF NOT EXISTS payment_frequency TEXT,
  ADD COLUMN IF NOT EXISTS insurer TEXT,
  ADD COLUMN IF NOT EXISTS insurer_address TEXT,
  ADD COLUMN IF NOT EXISTS policyholder_address TEXT,
  ADD COLUMN IF NOT EXISTS dob DATE,
  ADD COLUMN IF NOT EXISTS sumsub_verification_id TEXT,
  ADD COLUMN IF NOT EXISTS sumsub_status TEXT,
  ADD COLUMN IF NOT EXISTS sumsub_verified_at TIMESTAMPTZ,
  ADD COLUMN IF NOT EXISTS monitoring_frequency TEXT;
